{% extends "LayoutHeader.html" %}

{% block content %}


<div id="divMain">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Getting Started</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Getting Started</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <!-- <a href="" class="btn btn-primary">This is action area</a> -->
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="text-left pr-0">
                        <h1>Getting started</h1>
                        <!-- <p class="mb-0">Paste the Code link below:</p> -->

                    </div>
                    <div class="ibox-content border">
                        <form id="form">
                            steps
                            <h3 class="mb-4"> What would you like to do?</h3>
                            <input type="hidden" name="consultantID" id="consultantID" value="None">
                            <input type="hidden" name="myplan" id="myplan" value="">
                            <input type="hidden" name="steps" value="step1">


                            <div class="form-group row">
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-sm-12 pl-4 mb-2">
                                            <div class="i-checks">
                                                <label class="font-weight-bold" onclick="plan1()">
                                                    <div class="iradio_square-green plan1" style="position: relative;">
                                                        <input type="radio" value="Buy a Package" name="plan"
                                                               style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                    <i></i> Buy a Package</label></div>
                                        </div>

                                        <div class="col-sm-12 pl-4 mb-2">
                                            <div class="i-checks">
                                                <label class="font-weight-bold" onclick="plan2()">
                                                    <div class="iradio_square-green plan2" style="position: relative;">
                                                        <input type="radio" value="Create a job post with USD"
                                                               name="plan" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                    <i></i> Create a job post with USD. (Large Scale)</label></div>
                                        </div>


                                        <div class="col-sm-12 pl-4 mb-2">
                                            <div class="i-checks">
                                                <label class="font-weight-bold" onclick="plan3()">
                                                    <div class="iradio_square-green plan3" style="position: relative;">
                                                        <input type="radio"
                                                               value="Create a job post with Energy. (Small Scale)"
                                                               name="plan" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                    <i></i> Create a job post with Energy. (Small Scale)</label></div>
                                        </div>
                                    </div>
                                    <p style="color: red;" id="plan_error_msg" value="" class="plan_error_msg"><b></b></p>

                                </div>
                            </div>

                        </form>
                    </div>
                    <h2>Previously Saved Jobs</h2>
                    <div class="ibox-content border">
                        <h3 class="mb-4"> Select your saved jobs from below</h3>
                        <nav class="navbar navbar-expand-md navbar-light bg-light col-sm-12">
                            <button class="navbar-toggler btn btn-white" type="button"
                                    data-toggle="collapse" data-target="#navbarNavDropdown"
                                    aria-controls="navbarNavDropdown" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <select aria-labelledby="navbarDropdownMenuLink" id="size" style="margin-right: 120px;">
                                <option style="margin-right: 120px;"></option>
                            </select>
                        </nav>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-lg-4">
                            <button class="btn btn-lg btn-primary" type="button" onclick="nextstpe('step1')">Continue
                            </button>
                            <button class="btn btn-lg btn-white" type="submit">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

setTimeout(function(){
jQuery.fn.serializeObject = function() {
  var arrayData, objectData;
  arrayData = this.serializeArray();
  objectData = {};

  $.each(arrayData, function() {
    var value;

    if (this.value != null) {
      value = this.value;
    } else {
      value = '';
    }

    if (objectData[this.name] != null) {
      if (!objectData[this.name].push) {
        objectData[this.name] = [objectData[this.name]];
      }

      objectData[this.name].push(value);
    } else {
      objectData[this.name] = value;
    }
  });

  return objectData;
};
},1000);
function SaveRecord(step)
{
//debugger;
    var url = 'http://localhost:5000/saveConsultantpage'
    var data = $("#form").serializeObject();
        $.ajax({
          type: "POST",
          url: url,
          cache: false,
          data:data,
          success: function(html){
            //alert(html);
          }
        });
}

function nextstpe(step)
{
    //SaveRecord(step);
    if(step === 'step1')
    {
        if($("#myplan").val()==''){
            $('.plan_error_msg').html('<span class="label label-danger btn-block">Please select a Plan first.</span>');
        }else{
            $('.plan_error_msg').hide();
            //SaveRecord(step);
            $('#divMain').load('consultantstep1');
        }
    }

    if(step === 'step2')
    {
        if($("#Title").val()==''){
                $('#Title').fadeIn().html('').css("border","1px solid red");
                $('.error_msg').html('<span class="label label-danger btn-block">Enter a Job Title.</span>');
                $('.error_msg').show();
                $('.error_msg1').hide();
                return false;
        }else if($("#JobCategory").val()==''){
                $('#Title').fadeIn().html('').css("border","1px solid grey");
                $('#jobButton').fadeIn().html('').css("border","1px solid red");
                $('.error_msg1').html('<span class="label label-danger btn-block">Please select a Job Category.</span>');
                $('.error_msg').hide();
                $('.error_msg1').show();
                return false;
        }else{
            $('.error_msg').hide();
            $('.error_msg1').hide();
            //SaveRecord(step);
            $('#divMain').load('consultantstep2');
            return true;

        }
    }

    if(step === 'step3')
    {
        if($("#Description").val().length<50){
                $('#Description').fadeIn().html($("#Description").val()).css("border","1px solid red");
                $('.desc_error_msg').html('<span class="label label-danger btn-block">Description have atleast minimum 50 characters for the job post.</span>');
                $('.desc_error_msg').show();
                return false;
            }else{
                $('#Description').fadeIn().html($("#Description").val()).css("border","1px solid grey");
                $('.desc_error_msg').hide();
                //SaveRecord(step);
                $('#divMain').load('consultantstep3');
            }


    }
    if(step === 'step4')
    {
        if($("#ProjectType").val()=='One-time project'){
                if($("#Describes").val()==''){
                    $('.project_type_error_msg').html('<span class="label label-danger btn-block">Please select atleast 1 from above.</span>');
                    $('.project_type_error_msg').show();
                    return false;
                }else{
                    $("#WorkType").val('');
                    $('.project_type_error_msg').hide();
                    //SaveRecord(step);
                    $('#divMain').load('consultantstep4');
                    return true;
                }
        }else if($("#ProjectType").val()=='Ongoing project'){
                if($("#WorkType").val()==''){
                    $('.project_type_error_msg').html('<span class="label label-danger btn-block">Please select atleast 1 from above.</span>');
                    $('.project_type_error_msg').show();
                    return false;
                }else{
                    $("#Describes").val('');
                    $('.project_type_error_msg').hide();
                    //SaveRecord(step);
                    $('#divMain').load('consultantstep4');
                    return true;
                }
        }else if($("#ProjectType").val()=='I am not sure'){
                    $("#Describes").val('');
                    $("#WorkType").val('');
                    $('.project_type_error_msg').hide();
                    //SaveRecord(step);
                    $('#divMain').load('consultantstep4');
                    return true;
                }
    }
    if(step === 'step5')
    {
        $('#divMain').load('consultantstep5');
    }
    if(step === 'step6')
    {
        $('#divMain').load('consultantstep6');
    }
    if(step === 'step7')
    {
        $('#divMain').load('consultantstep7');
    }
    if(step === 'step8')
    {
        //$('#divMain').load('consultantstep8');
        var url = 'http://localhost:5000/Postjob'
        var data = $("#form").serializeObject();
        $.ajax({
          type: "POST",
          url: url,
          cache: false,
          data:data,
          success: function(html){
            //alert(html);
          }
        });
    }
}

function previousstpe(step)
{
    if(step === 'step1')
    {
        $('#divMain').load('consultantstep1');
    }
    if(step === 'step2')
    {
        $('#divMain').load('consultantstep2');
    }
    if(step === 'step3')
    {
        $('#divMain').load('consultantstep3');
    }
    if(step === 'step4')
    {
        $('#divMain').load('consultantstep4');
    }
    if(step === 'step5')
    {
        $('#divMain').load('consultantstep5');
    }
    if(step === 'step6')
    {
        $('#divMain').load('consultantstep6');
    }
    if(step === 'step7')
    {
        $('#divMain').load('consultantstep7');
    }
    /*if(step === 'step8')
    {
        $('#divMain').load('consultantstep8');
    }*/
}
$(document).ready(function() {
        $("#size").html("{% if paramName['Title'] is not none %}<option class='wrapper-dropdown-2 h7' style='margin-right: 70px;' value='None'>Select Saved Jobs</option>{% for i in paramName %}{% if not i['username'] %}<option class='wrapper-dropdown-2 h7' style='margin-right: 70px;' value='{{ i['Id']}}'>{{ i['Title'] }}</option>{% endif %}{% endfor %}  {% endif %}");
        //$('.col-lg-4').hide();
});
$("#size").change(function(){
            var v = $(this).val();
            $('#consultantID').val(v);
            var plan=''
            var g = ''
            {% for i in paramName %}
                g = '{{ i['Id'] }}';
                if(v==g){
                    plan='{{ i['Plan'] }}';
                    $('#myplan').val(plan);
                    <!--alert(plan);-->
                 }
            {% endfor %};
               var radiobtn;
            if( plan=='Create a job post with Energy. (Small Scale)'){
                plan3();
                <!--$('.plan3').addClass('checked');-->
                <!--$('.plan2').removeClass('checked');-->
                <!--$('.plan1').removeClass('checked');-->
            }
            else if(plan=='Create a job post with USD'){
                plan2();
                <!--$('.plan2').addClass('checked');-->
                <!--$('.plan1').removeClass('checked');-->
                <!--$('.plan3').removeClass('checked');-->
            }
            else if(plan=='Buy a Package'){
                plan1();
                <!--$('.plan1').addClass('checked');-->
                <!--$('.plan2').removeClass('checked');-->
                <!--$('.plan3').removeClass('checked');-->
            }
            else{
            $('.plan1').removeClass('checked');
            $('.plan2').removeClass('checked');
            $('.plan3').removeClass('checked');
            }
});

function plan1(){
        <!--alert('plan1');-->
        <!--$("#size").val('None')-->
        $('#myplan').val('Buy a Package');
        $('.iradio_square-green').addClass('checked');
        $('.plan1').find('.iradio_square-green').addClass('checked');

        $('.plan2').removeClass('checked');
        $('.plan2').find('.iradio_square-green').removeClass('checked');
        $('.plan3').removeClass('checked');
        $('.plan3').find('.iradio_square-green').removeClass('checked');

        //$('.col-lg-4').show();
        $('.plan_error_msg').hide();

 }
function plan2(){
        <!--alert('plan2');-->
        <!--$("#size").val('None')-->
        $('#myplan').val('Create a job post with USD');
        $('.iradio_square-green').addClass('checked');
        $('.plan2').find('.iradio_square-green').addClass('checked');

        $('.plan1').removeClass('checked');
        $('.plan1').find('.iradio_square-green').removeClass('checked');
        $('.plan3').removeClass('checked');
        $('.plan3').find('.iradio_square-green').removeClass('checked');

        //$('.col-lg-4').show();
        $('.plan_error_msg').hide();
 }
function plan3(){
        <!--alert('plan3');-->
        <!--$("#size").val('None')-->
        $('#myplan').val('Create a job post with Energy. (Small Scale)');
        $('.iradio_square-green').addClass('checked');
        $('.plan3').find('.iradio_square-green').addClass('checked');

        $('.plan2').removeClass('checked');
        $('.plan2').find('.iradio_square-green').removeClass('checked');
        $('.plan1').removeClass('checked');
        $('.plan1').find('.iradio_square-green').removeClass('checked');

        //$('.col-lg-4').show();
        $('.plan_error_msg').hide();
 }
</script>


{% endblock %}

