<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <!-- <a href="" class="btn btn-primary">This is action area</a> -->
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="text-left pr-0">
                    <h1>Title</h1>
                    <p class="font-weight-bold">Step 1 of 7</p>

                </div>
                <div class="ibox-content border">
                    <form id="form">
                        <input type="hidden" name="JobCategory" id="JobCategory" value="">
                        <input type="hidden" name="SubCategory" id="SubCategory" value="">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <h3 class="mb-4"> Enter the name of your job post</h3>
                                <div class="col-sm-8 pl-0">
                                    <textarea class="form-control" name="Title" id="Title" rows="5"></textarea>
                                    <p style="color: red;" id="error_msg" value="" class="error_msg"><strong></strong></p>
                                    <input type="hidden" name="steps" value="step2">

                                </div>

                                <h3 class="mt-4">Here are some good examples for buying a package:</h3>
                                <ul>
                                    <li>Standardised approach to your custom needs</li>

                                    <li>Firm fixed cost with great budget deal</li>

                                    <li>Best deal for traders with little or no technical background</li>

                                </ul>

                                <h3 class="mt-4">Here are some good examples for payment in USD:</h3>
                                <ul>
                                    <li>Developer needed for creating automated trading system</li>

                                    <li>Professional scraper to scrape targeted websites</li>

                                    <li>Need telegram bot for alerting custom trading criteria</li>

                                </ul>

                                <h3 class="mt-4">Here are some good examples for payment in Energy:</h3>
                                <ul>
                                    <li> Advise on analysing a specific piece of dataset</li>
                                    <li> Debug on Excel formula</li>
                                    <li> Clarification of investment concepts</li>

                                </ul>


                            </div>
                        </div>

                    </form>
                </div>

                <!--div class="ibox-content border mt-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <h3 class="mb-4"> Job Category</h3>
                                <div class="col-sm-8 pl-0">
                                    <button class=" text-left font-weight-bold btn btn-white btn-block"
                                            name="JobCategory" type="button"
                                            data-toggle="modal" data-target="#select-button">Select category &
                                        subcategory
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div-->
                <div class="ibox-content border mt-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <h3 class="mb-4"> Job Category</h3>
                                <div class="col-sm-8 pl-0">
                                    <button id="jobButton" class=" text-left font-weight-bold btn btn-white btn-block"
                                            type="button" data-toggle="modal" data-target="#select-button" >
                                        Select category & subcategory
                                    </button>
                                </div>
                                <p style="color: red;" id="error_msg1" value="" class="error_msg1"><b></b></p>
                            </div>
                        </div>
                    </form>
                </div>


                <!--<div class="modal inmodal show" id="select-button" tabindex="-1" role="dialog"-->
                     <!--style="display: none;z-index:999;">-->
                    <!--<div class="modal-dialog modal-lg">-->
                        <!--<div class="modal-content animated flipInY">-->
                            <!--<div class="pb-2 pt-2 pr-4">-->
                                <!--<button type="button" class="close" data-dismiss="modal"><span-->
                                        <!--aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->

                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<div class="ibox-content">-->
                                    <!--<div class="row">-->
                                        <!--<h2>Category selection</h2>-->
                                        <!--<nav class="navbar navbar-expand-md navbar-light bg-light col-sm-12">-->
                                            <!--<button class="navbar-toggler btn btn-white" type="button"-->
                                                    <!--data-toggle="collapse" data-target="#navbarNavDropdown"-->
                                                    <!--aria-controls="navbarNavDropdown" aria-expanded="false"-->
                                                    <!--aria-label="Toggle navigation">-->
                                                <!--<span class="navbar-toggler-icon"></span>-->
                                            <!--</button>-->
                                            <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
                                                <!--<ul class="navbar-nav col-sm-12">-->
                                                    <!--<li class="nav-item dropdown col-sm-12">-->
                                                        <!--<a class="nav-link dropdown-toggle h6 font-weight-bold" href="#"-->
                                                           <!--id="navbarDropdownMenuLink" data-toggle="dropdown"-->
                                                           <!--aria-haspopup="true" aria-expanded="false">-->
                                                            <!--Select category & subcategory-->
                                                        <!--</a>-->
                                                        <!--<ul class="dropdown-menu" name="JobCategory"-->
                                                            <!--aria-labelledby="navbarDropdownMenuLink">-->
                                                            <!--<li><a class="dropdown-item dropdown-toggle h6" href="#">Web,-->
                                                                <!--Mobile & Software Dev</a>-->
                                                                <!--<ul class="dropdown-menu" name="SubCategory">-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                <!--</ul>-->
                                                            <!--</li>-->

                                                            <!--<li><a class="dropdown-item dropdown-toggle h6" href="#">Web,-->
                                                                <!--Mobile & Software Dev</a>-->
                                                                <!--<ul class="dropdown-menu">-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Desktop-->
                                                                        <!--Software Development</a></li>-->
                                                                <!--</ul>-->
                                                            <!--</li>-->

                                                            <!--<li><a class="dropdown-item dropdown-toggle h6" href="#">Web,-->
                                                                <!--Mobile & Software Dev</a>-->
                                                                <!--<ul class="dropdown-menu">-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                <!--</ul>-->
                                                            <!--</li>-->


                                                            <!--<li><a class="dropdown-item dropdown-toggle h6" href="#">Web,-->
                                                                <!--Mobile & Software Dev</a>-->
                                                                <!--<ul class="dropdown-menu">-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                    <!--<li><a class="dropdown-item h6" href="#">Destop-->
                                                                        <!--Software Development</a></li>-->
                                                                <!--</ul>-->
                                                            <!--</li>-->


                                                        <!--</ul>-->


                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</nav>-->


                                    <!--</div>-->


                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="modal inmodal show" id="select-button" tabindex="-1" role="dialog"
                     style="display: none;z-index:999;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated flipInY">
                            <div class="pb-2 pt-2 pr-4">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>

                            </div>
                            <div class="modal-body">
                                <div class="ibox-content">
                                    <div class="row">
                                        <h2>Category selection</h2>
                                        <nav class="navbar navbar-expand-md navbar-light bg-light col-sm-12">

                                            <button class="navbar-toggler btn btn-white" type="button"
                                                    data-toggle="collapse" data-target="#navbarNavDropdown"
                                                    aria-controls="navbarNavDropdown" aria-expanded="false"
                                                    aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
                                            <section>
                                                <div class="wrapper-demo">
                                                    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                                                        <div class="selected" style="margin-right: 70px;"> Select Category
                                                        </div>
                                                        <ul class="dropd" aria-labelledby="navbarDropdownMenuLink">
                                                            <li value="1" style="margin-right: 70px;">
                                                                <a class="dropdown-item  h6">Category 1</a>
                                                            </li>
                                                            <li  value="2" style="margin-right: 70px;">
                                                                <a class="dropdown-item  h6">Category 2</a>
                                                            </li>
                                                            <li  value="3" style="margin-right: 70px;">
                                                                <a class="dropdown-item h6">Category 3</a>
                                                            </li>
                                                            <li  value="4" style="margin-right: 70px;">
                                                                <a class="dropdown-item h6">Category 4</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </section>
                                        </nav>


                                    </div>
                                    <div class="row">
                                        <h3>Sub Category Selection</h3>
                                        <nav class="navbar navbar-expand-md navbar-light bg-light col-sm-12">

                                            <button class="navbar-toggler btn btn-white" type="button"
                                                    data-toggle="collapse" data-target="#navbarNavDropdown"
                                                    aria-controls="navbarNavDropdown" aria-expanded="false"
                                                    aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
                                            <select aria-labelledby="navbarDropdownMenuLink" id="size" style="margin-right: 70px;">
                                                <option style="margin-right: 70px;">Select Sub Category</option>
                                            </select>
                                        </nav>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-3 p-0">

                    <button class="btn btn-lg btn-primary" type="button" onclick="nextstpe('step2')">Next</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
      function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;

                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }

                                                           var dd = new DropDown($('#dd'));
        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });
$(document).ready(function() {
    $('.dropd li').on('click', function() {
        console.log('clicked');
        var val = $(this).find('a').html();
        var col = '#' + $(this).attr('value');
        console.log(col);
        $('.selected').css('border-right', '20px solid' + col);
        $('.selected').html(val);
        var val = $(this).val();
        if (val == "1") {
            $('#JobCategory').val('Category 1');
            $('#SubCategory').val('Sub Category 1a');
            $("#size").html("<option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 1a'>Sub Category 1a</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 1b'>Sub Category 1b</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 1c'>Sub Category 1c</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 1d'>Sub Category 1d</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 1e'>Sub Category 1e</option>");

        } else if (val == "2") {
            $('#JobCategory').val('Category 2');
            $('#SubCategory').val('Sub Category 2a');
            $("#size").html("<option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 2a'>Sub Category 2a</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 2b'>Sub Category 2b</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 2c'>Sub Category 2c</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 2d'>Sub Category 2d</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 2e'>Sub Category 2e</option>");

        } else if (val == "3") {
            $('#JobCategory').val('Category 3');
            $('#SubCategory').val('Sub Category 3a');
            $("#size").html("<option  class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 3a'>Sub Category 3a</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 3b'>Sub Category 3b</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 3c'>Sub Category 3c</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 3d'>Sub Category 3d</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 3e'>Sub Category 3e</option>");

        }else if (val == "4") {
            $('#JobCategory').val('Category 4');
            $('#SubCategory').val('Sub Category 4a');
            $("#size").html("<option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 4a'>Sub Category 4a</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 4b'>Sub Category 4b</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 4c'>Sub Category 4c</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 4d'>Sub Category 4d</option><option class='wrapper-dropdown-2 h6' style='margin-right: 70px;' value='Sub Category 4e'>Sub Category 4e</option>");
        }
        $('#jobButton').html($('#JobCategory').val()+' | '+$('#SubCategory').val()).css("border","1px solid grey");;
        $('.error_msg1').hide();
    });

        $("#Title").change(function(){
            if($(this).val()==''){
                $('#Title').fadeIn().html('').css("border","1px solid red");
                $('.error_msg').html('<span class="label label-danger btn-block">Please enter the Job Title.</span>');
                $('.error_msg').show();
                return false;
            }
            else{
                $('#Title').fadeIn().html('').css("border","1px solid grey");
                $('.error_msg').hide();
                return true;
                }
        });

        $("#jobButton").change(function(){
            if($("#JobCategory").val()==''){
                $('#jobButton').fadeIn().html('').css("border","1px solid red");
                $('.error_msg1').html('<span class="label label-danger btn-block">Please select Job Category.</span>');
                $('.error_msg1').show();
                return false;
            }else{
                $('#jobButton').fadeIn().html('').css("border","1px solid grey");
                $('.error_msg1').hide();
                return true;

            }
        });

     $("#size").change(function(){
        var v = $(this).val();
        if (v == "Sub Category 1a") {
            <!--alert(v)-->
            $('#SubCategory').val(v);
        } else if (v == "Sub Category 1b") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 1c") {
            $('#SubCategory').val(v);

        }else if (v == "Sub Category 1d") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 1e") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 2a") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 2b") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 2c") {
            $('#SubCategory').val(v);

        }else if (v == "Sub Category 2d") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 2e") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 3a") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 3b") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 3c") {
            $('#SubCategory').val(v);

        }else if (v == "Sub Category 3d") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 3e") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 4a") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 4b") {
            $('#SubCategory').val(v);

        } else if (v == "Sub Category 4c") {
            $('#SubCategory').val(v);

        }else if (v == "Sub Category 4d") {
            $('#SubCategory').val(v);
        }else if (v == "Sub Category 4e") {
            $('#SubCategory').val(v);
        }

       $('#jobButton').html($('#JobCategory').val()+' | '+$('#SubCategory').val()).css("border","1px solid grey");;
        $('.error_msg1').hide();
     });

});
</script>
<style>
    *,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    /*width: 400px;*/
    margin: 0 auto;
    padding: 5px 15px;
    border: 1px solid #cbcbcb;
    position: relative;

    /* Styles */
    background: #fff;
    border-left: 2px solid grey;
    cursor: pointer;
    outline: none;
    /*margin-top:40px;*/
    font-family:Titillium Web;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: black transparent;
}

.wrapper-dropdown-2 .dropd {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    top:35px;
    padding:10px;
        border: 1px solid #cbcbcb;
    z-index: 100;
    overflow: scroll;
    height: 300px;
    /* Styles */
    background: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropd li{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top:3px;
    width:100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-2 .dropd li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropd li:hover a {
    color: grey;

}

/* Active state */

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropd {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropd,
.no-pointerevents .wrapper-dropdown-2 .dropd {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropd,
.no-pointerevents .wrapper-dropdown-2.active .dropd {
    display: block;
}

    </style>
