<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Budget</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Budget</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <!-- <a href="" class="btn btn-primary">This is action area</a> -->
        </div>
    </div>
</div>

<div class="wrapper wrapper-content ">


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="text-left pr-0">
                    <h1>Budget</h1>
                    <p class="font-weight-bold">Step 6 of 7</p>

                </div>
                <div class="ibox-content">
                    <form id="form">
                        <input type="hidden" name="steps" value="step7">
                        <input type="hidden" name="PayBy" id="PayBy" value="Pay by the hour">
                        <input type="hidden" name="ProjectDuration" id="ProjectDuration" value="Less than 1 month">
                        <input type="hidden" name="TimeRequirement" id="TimeRequirement" value="More than 30 hrs per week">
                        <input type="hidden" name="Urgency" id="Urgency" value="This project is urgent. I am willing to pay a higher price.">
                    <h4 class="">How would you like to pay your consultant?</h4>

                        <div class="row">
                        <div class="col-md-4 tabs-container  text-center mb-3">
                            <a href="javascript:void(0)" onclick="detailsSteps('1')" class="tabone">
                                <div class="panel-body position-relative">
                                    <button type="button" class="btn btn-outline btn-info popular-btn">Popular</button>
                                    <i class="fa fa-clock-o text-success" style="font-size:4rem;"></i>
                                    <h3 class="text-success">Pay by the hour</h3>
                                    <p>Popular for ongoing projects</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 tabs-container  text-center mb-3 ">
                            <a href="javascript:void(0)" onclick="detailsSteps('2')" class="tabtwo">
                                <div class="panel-body">
                                    <i class="fa fa-tag text-secondary" style="font-size:4rem;"></i>
                                    <h3 class="text-secondary">Pay a fixed price</h3>
                                    <p class="text-secondary">Popular for one-time projects</p>
                                </div>
                            </a>
                        </div>


                    </div>
                    <div id="divDetails1">
                        <h4 class="mb-3">How long do you expect this project to last? </h4>
                        <div class="row">
                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setDuration('1')" class="taboneD">
                                    <div class="panel-body">
                                        <i class="fa fa-calendar-o text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">Less than 1 month</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setDuration('2')" class="tabtwoD">
                                    <div class="panel-body">
                                        <i class="fa fa-calendar-o text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">1 to 3 months</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setDuration('3')" class="tabthreeD">
                                    <div class="panel-body">
                                        <i class="fa fa-calendar-o text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">More than 3 months</h3>
                                    </div>
                                </a>
                            </div>


                        </div>
                        <h4 class="mb-1">Do you have a time requirement for this project?</h4>
                        <div class="row">
                            <div class="col-md-4 tabs-container text-success text-center mb-3">
                                <a href="javascript:void(0)" onclick="setTimeRequirement('1')" class="clsTimeOne">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-success" style="font-size:4rem;"></i>
                                        <h3 class="text-success">More than 30 hrs/week</h3>
                                        <p>This project is urgent. I am willing to pay a higher price.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setTimeRequirement('2')" class="clsTimeTwo">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">Less than 30 hrs/week</h3>
                                        <p class="text-secondary">This project is on the standard queue. I am willing to
                                            pay a fair price.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                               <a href="javascript:void(0)" onclick="setTimeRequirement('3')" class="clsTimeThree">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">I don't know yet</h3>
                                        <p class="text-secondary">Time is not a concern for this project. I am willing
                                            to pay the minimum possible to complete this project.</p>
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                    <div id="divDetails2">

                        <h4 class="mb-3">Do you have specfic budget? </h4>
                        <div class="row">

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <div class="input-group m-b">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                    <div class="input-group-append">
                                        <input type="text" name="SpecificBudget" id="SpecificBudget" value="0" class="form-control">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <h4 class="mb-1">How urgent is your project?</h4>
                        <div class="row">
                            <div class="col-md-4 tabs-container text-success text-center mb-3">
                                <a href="javascript:void(0)" onclick="setUrgency('1')">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <p>This project is urgent. I am willing to pay a higher price.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setUrgency('2')">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <p class="text-secondary">This project is on the standard queue. I am willing to
                                            pay a fair price.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="javascript:void(0)" onclick="setUrgency('3')">
                                    <div class="panel-body time-div-h">
                                        <i class="fa fa-clock-o text-secondary" style="font-size:4rem;"></i>
                                        <p class="text-secondary">Time is not a concern for this project. I am willing
                                            to pay the minimum possible to complete this project.</p>
                                    </div>
                                </a>
                            </div>


                        </div>

                    </div>
                    </form>
                </div>


            </div>
            <div class="col-lg-4 mt-3 p-0">
                <button class="btn btn-lg btn-white" type="button" onclick="previousstpe('step5')">Back</button>
                <button class="btn btn-lg btn-gray" type="submit" type="button" onclick="nextstpe('step7')">Next
                </button>
            </div>

        </div>
    </div>
</div>
</div>

<script>
    function detailsSteps(step) {
        if (step === '1') {
            $("#divDetails1").show();
            $("#divDetails2").hide();

            $(".tabone").find('i').addClass('text-success');
            $(".tabone").find('h3').addClass('text-success');
            $(".tabtwo").find('fa fa-tag').removeClass('text-success');
            $(".tabtwo").find('i').removeClass('text-success');
            $(".tabtwo").find('h3').removeClass('text-success');

            $('#PayBy').val('Pay by the hour');
        }
        if (step === '2') {
            $("#divDetails1").hide();
            $("#divDetails2").show();

            $(".tabtwo").find('i').addClass('text-success');
            $(".tabtwo").find('h3').addClass('text-success');
            $(".tabone").find('fa fa-clock-o').removeClass('text-success');
            $(".tabone").find('i').removeClass('text-success');
            $(".tabone").find('h3').removeClass('text-success');

            $('#PayBy').val('Pay a fixed price');
        }
    }
    function setDuration(step) {
        if (step === '1') {
            $(".taboneD").find('i').addClass('text-success');
            $(".taboneD").find('h3').addClass('text-success');
            $(".tabtwoD").find('i').removeClass('text-success');
            $(".tabtwoD").find('h3').removeClass('text-success');
            $(".tabthreeD").find('i').removeClass('text-success');
            $(".tabthreeD").find('h3').removeClass('text-success');

            $('#ProjectDuration').val('Less than 1 month');
        }
        if (step === '2') {
            $(".taboneD").find('i').removeClass('text-success');
            $(".taboneD").find('h3').removeClass('text-success');
            $(".tabtwoD").find('i').addClass('text-success');
            $(".tabtwoD").find('h3').addClass('text-success');
            $(".tabthreeD").find('i').removeClass('text-success');
            $(".tabthreeD").find('h3').removeClass('text-success');

            $('#ProjectDuration').val('1 to 3 months');
        }
        if (step === '3') {
            $(".taboneD").find('i').removeClass('text-success');
            $(".taboneD").find('h3').removeClass('text-success');
            $(".tabtwoD").find('i').removeClass('text-success');
            $(".tabtwoD").find('h3').removeClass('text-success');
            $(".tabthreeD").find('i').addClass('text-success');
            $(".tabthreeD").find('h3').addClass('text-success');

            $('#ProjectDuration').val('More than 3 months');
        }
        }
    function setTimeRequirement(step) {
        if (step === '1') {
            $('#TimeRequirement').val('More than 30 hrs/week');
        }
        if (step === '2') {
            $('#TimeRequirement').val('Less than 30 hrs/week');
        }
        if (step === '3') {
            $('#TimeRequirement').val('I dont know yet');
        }
        }

    function setUrgency(step) {
        if (step === '1') {
            $('#Urgency').val('This project is urgent. I am willing to pay a higher price.');
        }
        if (step === '2') {
            $('#Urgency').val('This project is on the standard queue. I am willing to pay a fair price.');
        }
        if (step === '3') {
            $('#Urgency').val('Time is not a concern for this project. I am willing to pay the minimum possible to complete this project.');
        }
        }


</script>
