		 <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Visiblity</h2>
                   <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Visiblity</strong>
                        </li>
                    </ol> 
					</div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <!-- <a href="" class="btn btn-primary">This is action area</a> -->
                    </div>
                </div>
            </div>
            
        <div class="wrapper wrapper-content ">
           
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                         <div class="text-left pr-0">
                            <h1>Visiblity</h1>
							<p class="font-weight-bold">Step 5 of 7</p>
                            
                        </div>
                        <div class="ibox-content">
							 
						<h4 class="">Who can see your job?</h4>
						<div class="row">
							<div class="col-md-4 tabs-container  text-center mb-3">
                                 <a href="">
                                    <div class="panel-body text-success">
                                        <i class="fa fa-briefcase text-success " style="font-size:4rem;"></i>
                                        <h3 class="text-success">Consultants Centralin</h3>
                                        <p>Public search engines can find this job.</p>

                                    </div>
                                </a>
							</div>
							<div class="col-md-4 tabs-container  text-center mb-3">
                                <a href="">
                                    <div class="panel-body">
                                        <i class="fa fa-list-alt text-secondary" style="font-size:4rem;"></i>
                                        <h3 class="text-secondary">Only Centralin Consultants </h3>
                                        <p>&nbsp;</p>
                                    </div>
                                </a>
							</div>
						</div>
						</div>
                        </div>
                    </div>
                </div>
            	<div class="form-group row mt-4">
                                    <div class="col-lg-4">
                                       <button class="btn btn-lg btn-white" type="button" onclick="previousstpe('step4')">Back</button>
										<button class="btn btn-lg btn-gray" type="button" type="button" onclick="nextstpe('step6')">Next</button>
                                    </div>


                                </div>
            </div>
